.navbar{
	float: left;
	margin-left: -20px;
}

.col-lg-3{
	display: inline-block;
	margin-top: 15px;
	max-width: 1000px;
	height: auto;
}

.img-thumbnail{
	height: 300px;
	width: 300px;

 }
 .form-horizontal{
 	float: left;
 	background-color: 
 }

#request{
	float: right;
	margin-left: 20px;
	margin-top: -5px;
 }
